@font-face {
  font-family: myFirstFont;
  src: url(font.ttf);
}

*,
*::after,
*::before,
*:focus{
  margin: 0;padding: 0;
  box-sizing: border-box;
  outline: none;
} 

html{
  font-size: 62.5%;
}

body{
  max-height: 100vh;
  min-height: 100vh;
  color: #fff;
  font-family: myFirstFont;
  background: linear-gradient(45deg, rgb(244,48,118), rgb(254,44,155), rgb(48,172,228), rgb(35,120,213) );
  background-size: 400% 400%;
  animation: bg 7s ease infinite;
  animation-play-state: paused;
}

.dark{
  background: #111!important;
  color: #37f;
}

.bg{
  animation-play-state: running!important ;
}

@keyframes bg {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
} 

.container{
  position: relative;
}

.nav{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid rgba(0,0,0,0.1);
}

.title{
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.menu{
  font-size: 2rem;
  transition: 0.7s;
}

.night{
  font-size: 2rem;
  transition: 0.7s;
}

.body{
  background: transparent;
  width: 100%;height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.circle{
}

.main-icn{
  border: 5px solid #fff;
  padding: 5rem 5.5rem;
  border-radius: 50%;
  font-size: 5rem;
}

.main-icn i{
  transition: 0.3s;
}
.dark .main-icn{
  color: #37f;
  border: 5px solid #37f;
  box-shadow: 0px 0px 20px #37f;
}


.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.songh{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  width: 100%;
  font-size: 2rem;
}

.track{
  font-size: 2.5rem;
  margin-bottom: 6rem;
  overflow: hidden;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  text-transform: capitalize;
}

.song-nav{
  width: 100%;
  padding: 0px 1rem;
  font-size: 1.7rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

#s-time,
#e-time{
  width: 100px;
  text-align: center;
}

.s-box{
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=range]{
  width: 100%;
  padding: 0;
  margin: 0;
  background: transparent;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track{
  width: 100%;
  background: transparent;
  height: 8px;
  border: 2px solid #fff;
  border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb{
  width: 15px;height: 15px;
  border-radius: 50px;
  margin-top: -5px;
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 0px 1px #000000;
  -webkit-appearance: none;
}

.dark input[type=range]::-webkit-slider-runnable-track{
  border-color: #37f;
}

.dark input[type=range]::-webkit-slider-thumb{
  background: #37f;
  box-shadow: 0px 0px 20px #37f;
}




.control{
  font-size: 3rem;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: 0px auto;
  
  display: flex;
} 

.pause{
  font-size: 3rem;
  border: 3px solid #fff;
  padding: 10px 15px 10px 17px;
  border-radius: 50%;
  transition: 0.7s;
}

.dark .pause{
  border: 3px solid #37f;
}

.mobile-menu{
  position: fixed;
  top: 0;
  display: none;
  background: #111;
  height: 100vh;width: 100%;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  transform: scaleX(0);
  transform-origin: left;
}

.menu-item{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.close-box{
  padding: 1rem 2rem;
  text-align: right;
  font-size: 3rem;
  width: 100%;
}

.close{
  display: block;
  text-align: right;
  font-weight: bolder;
}

.add-box{
  margin-bottom: 5rem;
}

#add{
  display: inline-block;
  font-size: 30px!important;
  border-radius: 50%;
  border: 3px solid #fff;
  padding: 1rem 1.8rem;
  transition: 0.5s;
}

#add:hover{
  color:  #37f;
  box-shadow: 0px 0px 20px #37f;
  border: 3px solid  #37f;
}

.menu-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #222;
  padding: 1rem 3rem;
}

.fav-icn{
  padding: 5px 7px;
  border-radius: 50%;
  color: #37f;
}

.fav-icn i{
  margin: 0;padding: 0;
}

.fav{
  box-shadow: 0px 0px 20px #37f;
}

.favou{
  background: #37f!important;
  color: #fff!important;
}

.list-box{
  width: 100%;
  margin: 0px;
  padding: 10px 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-song-con{
  width: 100%;
  margin: 10px 0px;
  padding: 10px 20px;
  border-bottom: 2px solid #222;
  display: flex;
  transition: 1s;
  align-items: center;
  justify-content: space-between;
}

.plist-song-name{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 70%;
}


.plist-dlt:hover{
  color:  rgb(231,49,17);
}

.plist-dlt:hover .list-song-con{
  background: rgb(231,49,17)!important;
  
}

.list-transform{
  background: rgb(231,49,17)!important;
  color: #fff;
  transform: translateX(-100%);
}
 
.slide-out{
  transform: scaleX(1);
  opacity: 1;
}

.pop-box{
  position: fixed ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  display: none;
  background: rgb(0,0,0,0.5);
}

.pops{
  opacity: 1;
}

.pop{
  background: #fff;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  font-size: 1.5rem;
  border-radius: 10px;
}

.poph{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.popt,
.popu,
.popd{
  display: flex;
  flex-direction: column;
}

.popt{
  margin-bottom: 10px;
}

.popu{
  margin-bottom: 30px;
}

.popd{
  margin-bottom: 40px;
  text-transform: capitalize;
}

#new-title,
#new-url{
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius:  5px;
}

#new-durl{
  border: 1px solid #000;
  border-radius: 5px;
}

.popu label,
.popt label{
  font-weight: bold;
  letter-spacing: 2px;
  color: #555;
}

.popf{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.popf button{
  padding: 4px 7px;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 4px;
}

#add-btn{
  margin-left: 10px;
  background: #06af19;
}

#add-btn:hover{
  background: rgb(5,132,20);
  
}

#cancel-btn{
  background: #f42422;
}

#cancel-btn:hover{
  background:rgb(197,23,22);
  
}

.fa-minus{
  pointer-events: none;
}